@model string
<div class="top-header">
    <div class="top-header-logo">
        <img class="top-header-logo-img" src="@Url.Content("~/Content/customer_data/current_customer/top-header-logo.png")" alt="Logo" />
        <span class="top-header-name">{{ctrl.$scope.siteTitle}}</span>
        <span class="top-header-splitter">|</span>
        <span class="top-header-slogen"><span>ניהול תיקי השקעות</span></span>
    </div>

    <advisor-details></advisor-details>
</div>
