<div class="transaction-view">
    <div class="row">
        <div class="column">
            <danel-transactions-summary></danel-transactions-summary>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <danel-transactions-filter/>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <danel-transaction-dash class="d-component-t2"></danel-transaction-dash>
        </div>
    </div>
</div>
