<div>
    <p>
        <span class="label" style=" margin-left: 126px;">סיסמא חדשה</span>
        <input class="formText" name="senderName" type="password" ng-model="ctrl.password_1" required placeholder="סיסמא חדשה" autofocus />
    </p>
    <p>
        <span class="label" style="margin-left:55px;">סיסמא חדשה פעם נוספת</span>
        <input class="formText" name="pass1" type="password" data-ma ng-model="ctrl.password_2" placeholder="סיסמא חדשה פעם נוספת" />
    </p>
    <p>
        <button class="updatePass btn" name="pass2" ng-click="ctrl.handlePassword()">{{ctrl.passwordStatus}}</button>
    </p>
</div>