<div class="holdings-grouped-Radios">

    <p class="holdings-grouped-Radios-title">הצג מבנה תיק לפי</p>


    @*<p>
     
        <input name="iCheck" type="radio" ng-model="ctrl.currentID" value="1" /><span id="groupingRadioText">אפיק</span>
    </p>*@
    <p><input type="radio" id="1" ng-model="ctrl.currentID" value="1" class="regular-radio" /><label for="1" class="css-label radGroup1"><span>אפיק</span> </label> </p>
    @*<p>       
        <input type="radio" ng-model="ctrl.currentID" value="8" /><span id="groupingRadioText">ענף</span>
    </p>*@
    <p><input type="radio" id="8" ng-model="ctrl.currentID" value="8" class="regular-radio" /><label for="8" class="css-label radGroup1"><span>ענף</span></label> </p>
    @*<p>
        <input type="radio" ng-model="ctrl.currentID" value="9" /><span id="groupingRadioText">מטבע</span>
    </p>*@
    <p><input type="radio" id="9" ng-model="ctrl.currentID" value="9" class="regular-radio" /><label for="9" class="css-label radGroup1"><span>מטבע</span></label> </p>
    @*<p>
         <input  type="radio" ng-model="ctrl.currentID" value="14" /><span id="groupingRadioText">גאוגרפיה</span>
     </p>*@
    <p><input type="radio" id="14" ng-model="ctrl.currentID" value="14" class="regular-radio" /><label for="14" class="css-label radGroup1"><span>גאוגרפיה</span></label></p>
</div>

