<div class="dashboard-view">

    <div class="row">
        <div class="column">
            <danel-account-dash />
        </div>
    </div>

    <div class="row">
        <div class="column2 col-lg-6">
            <danel-holdings-grouped-dash class="d-component-t1" />
        </div>
        <div class="column2 col-lg-6">
            <danel-yield-dash class="d-component-t1" danel-show-index="false" />

        </div>
    </div>

    <div class="row">
        <div class="column">
          @*  <danel-transaction-dash class="d-component-t2" />*@
            <danel-holdings-detailed class="d-component-t1"></danel-holdings-detailed>
        </div>
    </div>
</div>
