<div class="portfolio-view component-pane">
    <div class="component-pane">
        <danel-holdings-grouped class="component-pane"></danel-holdings-grouped>
    </div>
    <danel-holdings-detailed></danel-holdings-detailed>

</div>

