<div class="yield-view">
    
    <div class="row">
        <div class="column">
            <danel-account-dash />
        </div>
    </div>

    <div class="row">
        <div class="column">
            <danel-yield-toolbar/>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <danel-yield-dash class="d-component-t1" danel-show-title="false"  danel-show-index="false"/>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <danel-yield-grid class="d-component-t2"/>
        </div>
    </div>
</div>
